@model IEnumerable<FInspectUI.Models.Inspection>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inspection History</title>
</head>
<body>
    <div>
        <h1>DATA DATA</h1>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Part Num</th>
                <th>Date Inspected</th>
                <th>Inspector</th>
                <th>Qty Accepted</th>
                <th>Qty Inspected</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspection in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => inspection.TMSPartNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => inspection.DateInspected)
                    </td>
                    <td>
                        @Html.DisplayFor(model => inspection.InspectorName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => inspection.QuantityAccepted)
                    </td>
                    <td>
                        @Html.DisplayFor(model => inspection.QuantityInspected)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
